*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 50px;
}



.header-section{
    width: 100%;
    min-height: 50vh;
    // background-image: url(../pictures/university11.jpg);
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../pictures/graduation.jpg);
    background-position: center;
    position: relative;
    .top-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 6%;
        img{
            width: 80px;
        }
        i{
            display: none;
        }
        .navigation{
            flex: 1;
            text-align: right;
            i{
                display: none;
            }
            ul{
                li{
                    list-style: none;
                    display: inline-block;
                    padding: 8px 12px;
                    a{
                        text-decoration: none;
                        color: white ;
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }
                        &::after{
                            content: '';
                            background-color: #f44336 ;
                            width: 0;
                            height: 4px;
                            display: block;
                            transition: all .4s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    h1{
        color: white;
        text-align: center;
        font-size: 50px;
        padding-top: 50px;
    }
}

// Courses section 

.course{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    .course-text{
        h1{
            font-size: 40px;
            &::before{
                content: '';
                display: block;
                width: 80%;
                height: 2px;
                background-color: #f44336;
                margin: auto;
                margin-bottom: 20px !important;
            }
        }
        p{
            margin: 10px 0;
            color: gray;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .level-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 5%;
        column-gap: 5%;
        div{
            background-color: #fde0e0;
            padding: 30px;
            border-radius: 10px;
            transition: all .5s ease-in-out;
            h3{
                margin-bottom: 20px;
            }
            p{
                color: gray;
                text-align: justify;
            }
            &:hover{
                box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
            }
        }
    }
}

// facilities section 
.sections{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    .facilities-text{
        h1{
            font-size: 40px;
            &::before{
                content: '';
                display: block;
                width: 80%;
                height: 2px;
                background-color: #f44336;
                margin: auto;
                margin-bottom: 20px !important;
            }
        }
        p{
            margin: 10px 0;
            color: gray;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .facilities-container{
        display: flex;
        flex-basis: 32%;
        align-items: center;
        justify-content: space-between;
        .facilities-items{
            margin: 15px;
            img{
                width: 100%;
                height: 40vh;
                object-fit: cover;
                border-radius: 10px;
            }
            h3{
                margin: 5px 0;
            }
            p{
                color: gray;
                text-align: justify !important;
                letter-spacing: 1px;
                word-spacing: 2px;
            }
        }
    }
}

// FOOTER 

.footer{
    width: 80%;
    text-align: center;
    padding: 30px 0;
    margin: auto;
    h4{
        margin-bottom: 25px;
        margin-top: 25px;
        font-weight: 600;
        &::before{
            content: '';
            display: block;
            width: 80%;
            height: 2px;
            background-color: #f44336;
            margin: auto;
            margin-bottom: 50px !important;
        }
    }
    p{
        color: rgb(80, 80, 80);
    }
    .icons{
        i{
            color: #f44336;
            margin: 0 13px;
            padding: 18px 0;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .fa-solid{
        color: #f44336;
        padding: 0 4px;
    }
}



